@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model CartViewModal
@{
}

<div class="in-full-screen model-background p-absolute br-50">
</div>

<form action="CustomerCart" method="post" id="form" onsubmit="return false">
    <input type="hidden" id="hiddenInput" name="hiddenInput" />
    <div class="cart-container in-full-screen">
        <p class="cart-title text-center">Cart</p>
        <div class="cart-info">
            <div class="cart-total">
                <div>
                    Count: @Model.IsConsired.Where(x => x == true).Count()
                </div>
                <div>
                    Total price: @Model.Sum
                </div>
            </div>
            <div class="cart-total">
                <button type="submit" class="btn btn-primary" onclick="ButtonClick(event)">Refresh</button>
                <button type="submit" class="btn btn-primary" onclick="ButtonClick(event)">Checkout</button>
            </div>
        </div>
        <div class="cart-products">
            <table>
                <tr>
                    <th>Is Consired</th>
                    <th>Image</th>
                    <th>Product</th>
                    <th>Seller</th>
                    <th>Price</th>
                    <th>Date</th>
                    <th>Delete</th>
                </tr>


                @for (int i = 0; i < Model.Products.Count; i++)
                {
                    <tr>
                        <td>
                            <div class="td-item">
                                @if (Model.IsConsired[i])
                                {
                                    <input type="checkbox" class="form-check-input" name="isConsired" value="@Model.AddedToCartProducts[i].Id" checked />
                                }
                                else
                                {
                                    <input type="checkbox" class="form-check-input" name="isConsired" value="@Model.AddedToCartProducts[i].Id" />
                                }
                            </div>
                        </td>
                        <td>
                            <div class="td-item">
                                <img src="@Model.Products[i].LogoSource" alt="product" />
                            </div>
                        </td>
                        <td>
                            <div class="td-item">
                                @Model.Products[i].Name
                            </div>
                        </td>
                        <td>
                            <div class="td-item">
                                @(Model.Sellers[i].FirstName + " " + Model.Sellers[i].LastName)
                            </div>
                        </td>
                        <td>
                            <div class="td-item">
                                @Model.Products[i].Price
                            </div>
                        </td>
                        <td>
                            <div class="td-item">
                                @Model.AddedToCartProducts[i].DateTime.ToString(@"dd.MM-HH:mm")
                            </div>
                        </td>
                        <td>
                            <div class="td-item">
                                <a asp-controller="Home" asp-action="DeleteProductFromCart" asp-route-productId="@Model.AddedToCartProducts[i].Id">
                                    <img src="~/delete.png" alt="Delete" />
                                </a>
                            </div>
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>
</form>


<script name="Scripts">
    function ButtonClick(event) {
        document.querySelector("#hiddenInput").value = event.target.textContent;
        document.querySelector("#form").submit();
    }
</script>